
/* Custom CSS
   Author:  Nicholas Scoles;
   CIS 1310-NET02
 */


.nav {
	display:  flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.nav a {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 250px;
	margin: 10px;
}

.section {
	max-width: 100%;
}

.boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.boxes div {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 250px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
