/*html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
 overflow:auto;
*/

.main {
    margin: 2em;
    padding: 2em;
    border-width: 1em;
    border-style: solid;
    border-color: #ff0000;
    width: 30em;
    background-color: #66ffcc;
}
.first {
    box-sizing: content-box;
}

.last {
    box-sizing: border-box;
}
